.loopmode-dropdown {
  position: relative;
  width: 160px;
  font-family: sans-serif;
  font-size: 14px;
  user-select: none;
}

.loopmode-dropdown_wrapper {
    color: var(--font-color);
    padding: 10px;
}

h3 {
    margin-bottom: 20px;
}

.loopmode-dropdown .selected {
  background-color: var(--section-color);
  color: var(--font-color);
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid var(--border-color);
}

.loopmode-dropdown .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 4px 0 0 0;
  padding: 0;
  list-style: none;
  background-color: var(--section-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

.loopmode-dropdown .options li {
  padding: 8px 12px;
  cursor: pointer;
  color: var(--font-color);
}

.loopmode-dropdown .options li:hover {
  background-color: var(--active-color);
  color: var(--bg-color);
}

.loopmode-dropdown .options .selected-option {
  background-color: var(--active-color);
  color: var(--bg-color);
  font-weight: bold;
}