.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
  background-color: var(--bg-color);
}

.root > .sections {
    height: 100%;
    overflow-y: auto;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}


.noselect {
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;         /* Standard */  
}

:root {
  --font-color: #b4865d;
  --header-color: #EADAA2;
  --active-color: #FFD046;
  --effect-color: #1985A1;
  --bg-color: #000;
  --section-color: #111;
  --border-color: #333;
}